[Unit]
Description=Run OpenClaw Network Observer / Netwatch

[Timer]
OnBootSec=90
OnUnitActiveSec=60
Unit=openclaw-netwatch.service
Persistent=false

[Install]
WantedBy=timers.target
